<section class="section-contacts" id="contacts">
  <div class="container">
    <div class="contacts uk-flex uk-flex-center uk-flex-middle uk-flex-column">
      <div id="notify">
      </div>
      <form id="contact-form"  method="POST" class="uk-form uk-text-center">
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <input class="contacts-name uk-input" id="name" type="text" name="name" placeholder="Name" required>
          </div>
          <div class="uk-margin">
            <input class="contacts-name uk-input" id="email" type="text" name="email" placeholder="E-mail" required>
          </div>
          <div class="uk-margin">
            <input class="contacts-name uk-textarea" id="text" name="text" placeholder="What can we do for You?">
          </div>
          <div class="uk-margin clrscr">
            <button type="submit" class="submit color-g" >SEND <span uk-icon="icon: chevron-right"></span></button>
          </div>
          <!--<a href="/">-->
          <!--<img src="images/slack.png" alt="">-->
          <!--</a>-->
        </fieldset>
      </form>
      <div class="just-line"></div>
      <div class="social uk-flex uk-flex-center uk-flex-between">
        <a href="https://www.facebook.com/pozitiff.site/" target="_blank">
          <img src="images/fb.png" alt="">
        </a>
        <a href="https://www.upwork.com/agencies/~01c8c274061a8c3c34" target="_blank">
          <img src="images/upwork.png" alt="">
        </a>
        <a href="https://youteam.co.uk/partner/pozitiff?ref=pozitiff" target="_blank">
          <img src="images/youteam2.png" alt="">
        </a>
        <a href="https://www.linkedin.com/company/11250583/" target="_blank">
          <img src="images/li.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>