<section class="section-counters">
  <div class="container">
    <div class="counters uk-flex uk-flex-wrap uk-flex-center uk-flex-between@xl uk-flex-top@s">
      <div class="counter">
        <div class="counter-img-wrapper uk-flex-center uk-flex-middle uk-border-circle">
          <span class="icon-settings counter-icon"></span>
        </div>
        <div class="uk-text-center counter-project-title" id="counterProjects"> 
          <div class="number1 count" ></div>
          <div class="bold1"></div>
          <div class="regular-text1"></div>
        </div>
      </div>
      <div class="counter">
        <div class="counter-img-wrapper uk-flex-center uk-flex-middle uk-border-circle">
          <span class="icon-sand-clock counter-icon"></span>
        </div>
        <div class="uk-text-center counter-project-title hours-title" id="counterHours">
          <div class="number2 count"></div>
          <div class="bold2"></div>
          <div class="regular-text2"></div>
        </div>
      </div>
      <div class="counter">
        <div class="counter-img-wrapper uk-flex-center uk-flex-middle uk-border-circle">
          <span class="icon-coffee counter-icon"></span>
        </div>
        <div class="uk-text-center counter-project-title" id="counterCoffee">
          <div class="number3 count"></div>
          <div class="bold3"></div>
          <div class="regular-text3"></div>
        </div>
      </div>
    </div>
  </div>
</section>