<section class="section-top">
  <div class="container">
    <div class="uk-flex uk-flex-middle cta-to-bottom">
      <div class="section-top-cta">
        <h1>
          {{ $.Site.Params.tagline1 }} <br/>
          {{ $.Site.Params.tagline2 }}
          <span class="color-g"> {{ $.Site.Params.tagline3 }}</span>
          {{ $.Site.Params.tagline4 }}
        </h1>
        <h5 class="subtitle">
          {{ $.Site.Params.description1 }}<br/> 
          {{ $.Site.Params.description2 }}
        </h5>
        <a class="clrfx cta-button color-g" href="#contacts" uk-scroll="offset: 80;">CONTACT US</a>
      </div>
    </div>
  </div>
</section>

