<div class="uk-offcanvas-content">
  <div id="offcanvas-nav" uk-offcanvas="mode: reveal; flip: true;">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
      <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
        <li><a href="#team" uk-scroll="offset: 65;" onclick="UIkit.offcanvas('#offcanvas-nav').hide();">team</a></li>
        <li><a href="#skills" uk-scroll="offset: 65;" onclick="UIkit.offcanvas('#offcanvas-nav').hide();">skills</a></li>
        <!-- <li><a href="#projects" uk-scroll="offset: 65;" onclick="UIkit.offcanvas('#offcanvas-nav').hide();">projects</a></li>
        <li><a href="#testimonials" uk-scroll="offset: 65;" onclick="UIkit.offcanvas('#offcanvas-nav').hide();">testimonials</a></li> -->
        <li><a href="#contacts" uk-scroll="offset: 65;" onclick="UIkit.offcanvas('#offcanvas-nav').hide();">contacts</a></li>
      </ul>
    </div>
  </div>
</div>

