<header class="clrfx" uk-sticky>
  <div class="container">
    <div class="uk-flex">
      <div class="uk-width-1-2 uk-flex uk-flex-left uk-flex-middle">
        <a href="/"><img class="logo" src="images/logo-pozitiff.png" alt="logo"></a>
      </div>
      <div class="uk-width-1-2 uk-flex uk-flex-right uk-flex-middle uk-visible@m">
        <ul class="nav uk-flex">
          <li><a href="#team" uk-scroll="offset: 80;">team</a></li>
          <li><a href="#skills" uk-scroll="offset: 80;">skills</a></li>
          <!-- <li><a href="#projects" uk-scroll="offset: 80;">projects</a></li>
          <li><a href="#testimonials" uk-scroll="offset: 80;">testimonials</a></li> -->
          <li><a href="#contacts" class= "contact-btn" uk-scroll="offset: 80;">contact us</a></li>
        </ul>
      </div>
      <a href="#offcanvas-nav" class="uk-width-1-2 offcanvas-button uk-button uk-flex uk-flex-right uk-flex-middle uk-hidden@m" uk-toggle>
       <div class="mobile-menu" onclick="myFunction(this)">
          <div class="menu-icon bar1"></div>
          <div class="menu-icon bar2"></div>
          <div class="menu-icon bar3"></div>
       </div>
      </a>
    </div>
  </div>
</header>