<section class="section-projects" id="projects">
    <div class="container">
      <ul class="projects bxslider">
        <li class="project first-project">
          <div class="uk-flex uk-flex-center uk-child-width-1-2@l uk-child-width-1-2@xl uk-child-width-1-1@m uk-child-width-1-1@s" uk-grid>
            <div class="width-45">
              <h2>
                <a href="https://whitedot.gmbh/" target="_blank">
                  Whitedot
                </a>
              </h2>
              <p class="projects-subtitle">Website for Digital Agency Whitedot.</p>
              <div class="just-line"></div>
              <p>Site is adaptive for any device starting from devices with 320 width. Site is tested in all modern browsers. Site does not support old browsers since target audience is not likely to open the site from it.</p>
              <p>Works done:<br/>
                <span class="work-done"> UI/UX part, development using Bootsratp3, CMS Wordpress, Canvas, HTML5, CSS3, JQuery, JavaScript. Google Analytics settings. The site is optimized for the requirements of Google.</span>
              </p>
            </div>
            <div class="width-35 projects-img-wrp">
              <img src="images/whitedot.png" alt="" class="projects-img">
            </div>
          </div>
        </li>
        <li class="project">
          <div class="uk-flex uk-flex-center uk-child-width-1-2@l uk-child-width-1-2@xl uk-child-width-1-1@m uk-child-width-1-1@s" uk-grid>
            <div class="width-45 item">
              <h2>
                <a href="http://www.wiseheadhunters.com/" target="_blank">
                  Wisehead Hunters
                </a>
              </h2>
              <p class="projects-subtitle">The website for recruting agency.</p>
              <div class="just-line"></div>
              <p>We developed a design and created a website with several modules.<br/>
                The website is adaptive for most of popular devices and screen sizes, including mobile devices.                
              </p>
              <p>Works done:<br/>
                <span class="work-done"> Our team made development with Javascript framework Ghost, HTML5, CSS3, Handlebars, JQuery and Javascript, UI/UX design and QA testing. The site is optimized for the requirements of Google and have a high rate at PageSpeed Insights.
                The site was done internally by our designers and developers. The client provided us with his vision of his work.</span>
              </p>     
            </div>
            <div class="width-35 projects-img-wrp"> 
              <img src="images/wiseheadhunters.png" alt="" class="projects-img">
            </div>
          </div>
        </li>
        <li class="project">
          <div class="uk-flex uk-flex-center uk-child-width-1-2@l uk-child-width-1-2@xl uk-child-width-1-1@m uk-child-width-1-1@s" uk-grid>
            <div class="width-45 item">
              <h2>
                <a href="http://www.masskom.com/" target="_blank">
                  Masskom
                </a>
              </h2>
              <p class="projects-subtitle">Landing page for Masskom software.</p>
              <div class="just-line"></div>
              <p>Masskom is one of the most competitive sales motivation and internal communications solutions, all hosted in the cloud.</p>
              <p>We were provided with a template to modify. </p>
              <p>Site is adaptive for any device starting from devices with 320 width. Site is tested in all modern browsers. </p>
              <p>Works done:<br/>
                <span class="work-done">Our team made development using Bootsratp3, CMS Wordpress, Canvas, HTML5, CSS3, JQuery, JavaScript. Google Analytics settings. The site is optimized for the requirements of Google.</span>
              </p>
            </div>
            <div class="width-35 projects-img-wrp">
              <img src="images/masskom.png" alt="" class="projects-img">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>