<section class="section-skills" id="skills">
  <div class="container">
    <div class="skills uk-flex uk-flex-center uk-flex-middle">
      <div class="skill-wrap">
        <div class="skill">
          <span class="icon-settings2 skills-icon"></span>
          <h3>FRONT END</h3>
          <h5>HTML</h5> 
          <h5>CSS</h5> 
          <h5>Angular</h5> 
          <h5>React</h5>
        </div>
      </div>
      <div class="skill-wrap">
        <div class="skill">
          <span class="icon-html skills-icon"></span>
          <h3>BACK END</h3>
          <h5>Node.js </h5>
          <h5>JavaScript </h5>
          <h5>Python</h5> 
          <h5>PHP</h5>
          <h5>Express</h5>
          <h5>Meteor</h5> 
          <h5>Django</h5> 
          <h5>Flask</h5>
          <h5>Symphony</h5>
          <h5>Code Igniter</h5>
        </div>
      </div>
      <div class="skill-wrap">
        <div class="skill">
          <span class="icon-tap skills-icon"></span>
          <h3>MOBILE</h3>
          <h5>iOS</h5>
          <h5>Android</h5> 
          <h5>Cordova PhoneGap&Native</h5>
        </div>
      </div>
      <div class="skill-wrap">
        <div class="skill">
          <span class="icon-content skills-icon"></span>
          <h3>DESIGN</h3>
          <h5>UX/UI Design</h5>
        </div>
      </div>
      <div class="skill-wrap">
        <div class="skill">
          <span class="icon-promotion skills-icon"></span>
          <h3>MANAGEMENT</h3>
          <h5>Consulting</h5>
          <h5>Planning </h5> 
          <h5>Project Assessment</h5> 
          <h5>Supervising</h5>
        </div>
      </div>
      <div class="skill-wrap">
        <div class="skill">
          <span class="icon-sitemap skills-icon"></span>
          <h3>MONITORING</h3>
          <h5>Nagios</h5>
          <h5>Zabbix</h5>
          <h5>CloudWatch</h5>
        </div>
      </div>
      <div class="skill-wrap">
        <div class="skill">
          <span class="icon-upload skills-icon"></span>
          <h3>CLOUDS & VIRTUALIZATION</h3>
          <h5>AWS</h5>
          <h5>Azure</h5> 
          <h5>Digital Ocean</h5> 
          <h5>VMware</h5>
          <h5>Hyper-V</h5>
        </div>
      </div>
      <div class="skill-wrap">
        <div class="skill">
          <span class="icon-startup skills-icon"></span>
          <h3>AUTOMATION & CI, CD</h3>
          <h5>Ansible</h5> 
          <h5>Chef</h5>
          <h5>Jenkins</h5> 
          <h5>Strider</h5>
        </div>
      </div>
    </div>
  </div>
</section>