<section class="section-testimonials" id="testimonials">
  <div class="container">
    <div class="testimonials">
      <ul class="bxslider">
        <li class="uk-flex uk-flex-center uk-flex-middle">
          <div class="testimonial">
            <h3 class="uk-text-center">Title 1</h3>
            <h5 class="uk-text-center">Subtitle 1</h5>
            <div class="just-line uk-text-center"></div>
            <p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus beatae similique, deserunt sequi in? Cum rem nulla dicta molestias earum animi recusandae quis eaque quo.</p>
          </div>
        </li>
        <li class="uk-flex uk-flex-center uk-flex-middle">
          <div class="testimonial">
            <h3 class="uk-text-center">Title 2</h3>
            <h5 class="uk-text-center">Subtitle 2</h5>
            <div class="just-line uk-text-center"></div>
            <p class="uk-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, neque ipsam corporis similique! Maiores possimus illum id, necessitatibus quis hic sed saepe dolor sit. Ullam.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>